<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos; let i = index">
      <ion-label>{{ alumno.nombre }}</ion-label>
      
      <!-- Toggle de asistencia -->
      <ion-toggle slot="end" [(ngModel)]="alumno.presente" 
        (ionChange)="cambiarAsistencia(alumno)" color="tertiary">
      </ion-toggle>

      <!-- Justificante (Solo si está ausente) -->
      <ng-container *ngIf="!alumno.presente">
        <input type="file" (change)="subirJustificante($event, alumno)">

        
        <!-- Mostrar la foto del justificante si está presente -->
        <div *ngIf="alumno.justificante">
          <img [src]="alumno.justificante" alt="Justificante" width="100" height="100" (click)="verImagenGrande(alumno.justificante)" />
        </div>
      </ng-container>

      <!-- Botón de eliminar -->
      <ion-button color="danger" (click)="eliminarAlumno(alumno.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input placeholder="Nombre del alumno" [(ngModel)]="nuevoAlumno"></ion-input>
    <ion-button (click)="agregarAlumno()" color="success">Agregar</ion-button>
  </ion-item>

  <div class="resumen">
    <p>Presentes: {{ obtenerResumen().presentes }}</p>
    <p>Ausentes: {{ obtenerResumen().ausentes }}</p>
  </div>

  <ion-button expand="full" (click)="exportarExcel()">Descargar Excel</ion-button>
  <ion-button expand="full" (click)="exportarPDF()">Descargar PDF</ion-button>

  <!-- Imagen ampliada -->
  <div *ngIf="imagenGrande" class="imagen-ampliada" (click)="cerrarImagenGrande()">
    <img [src]="imagenGrande" alt="Imagen Ampliada" />
  </div>
</ion-content>
