<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()"> <!-- Formulario reactivo -->
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          formControlName="email"
          required
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="email?.touched && email?.invalid">
        <ion-label color="danger">
          <small *ngIf="email?.hasError('required')">El email es obligatorio.</small>
          <small *ngIf="email?.hasError('email')">Formato de email inválido.</small>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          required
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="password?.touched && password?.invalid">
        <ion-label color="danger">
          <small *ngIf="password?.hasError('required')">La contraseña es obligatoria.</small>
          <small *ngIf="password?.hasError('minlength')">La contraseña debe tener al menos 6 caracteres.</small>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
  </form>
  <ion-button expand="full" color="light" routerLink="/register">Registrarse</ion-button>
</ion-content>
